 * {
     margin:0;
     padding:0;
}

body {
    background-color:fuchsia;
}

ul {

    background-color:black;
    list-style-type:none;
    padding:20px;
    text-align:center;
}

a {
    text-decoration:none;
    color:white;
    padding:20px;
    background-color:black;
   

}

li {
    display:inline-block;
   
}

li:hover a {
    color:black;
    background-color:lightgray;

}

.main {
    width:80%;
    background-color:yellow;
    margin:20px auto;
    
}


section img {
    width:100%;
}


